﻿@model StudentLibrary.Models.Class
@{
    ViewBag.Title = "AddClass";
}

<h2>AddClass</h2>

@using (Html.BeginForm("AddClass", "Student"))
{
    <div class="col-md-2">
       
        @Html.TextBoxFor(m => m.ClassName, new { @class = "form-control", placeholder = "ClassName", required = true })
        <div class="input-group-append">
         
        </div>
    </div>
    <br />
    <button type="submit" value="Submit" class="btn btn-success">Submit</button>

}
