﻿@model StudentLibrary.Models.Class
@{
    ViewBag.Title = "Classes"; 
}

<h2>Classes</h2>
<button type="submit" value="submit" class="btn btn-success" onclick="location.href='@Url.Action("AddClass","Student")'"><i class="plus-square"> Add Class</i></button>
<br /> 

<br />
<table id="tablemodel" class="table table-bordered table-hover table-striped ">
   
    <thead>
     <tr>
           
            <th>ClassName</th>
            <th>Action</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.item)
        {
            <tr>
                      
                <td>@item.ClassName</td>             
                <td>
                    <a href="@Url.Action("Delete1",new { id=item.ClassId })"><i class="btn btn-success"><b>Delete</b> </i></a>
                    <a href="@Url.Action("Edit1",new { id=item.ClassId})"><i class="btn btn-success">Edit</i></a>
                </td>
            </tr>
        }
    </tbody>

</table>

<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />

@section scripts{
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script>
        $('#tablemodel').DataTable({



        });


    </script>

}