﻿
@model StudentLibrary.Models.StdRegistration

@*@{
    ViewBag.Title = "Edit";
    Layout = null;
}

<h2>Student Registration Form</h2>

@using (Html.BeginForm("Edit", "Student"))
{
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                @Html.LabelFor(m => m.Firstname)
                @Html.TextBoxFor(m => m.Firstname, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Fathername)
                @Html.TextBoxFor(m => m.Fathername, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Address)
                @Html.TextAreaFor(m => m.Address, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                @Html.LabelFor(m => m.Lastname)
                @Html.TextBoxFor(m => m.Lastname, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.StudentCnic)
                @Html.TextBoxFor(m => m.StudentCnic, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>

            @Html.HiddenFor(m => m.Sid)

            <input type="submit" value="Save Data" class="btn btn-success" />
        </div>

    </div>


}*@


@*<--Add CSS -->*@


@{
    ViewBag.Title = "Edit";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/skin/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/skin/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/skin/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="../../index2.html"><b>Admin</b>LTE</a>
        </div>

        @using (Html.BeginForm("Edit", "Student"))

        {

            <div class="card">
                <div class="card-body login-card-body">
                    <form action="../../index3.html" method="post">
                        <div class="input-group mb-3">
                            @Html.TextBoxFor(m => m.Firstname, new { @class = "form-control", placeholder = "Firstname"  })
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            @Html.TextBoxFor(m => m.Lastname, new { @class = "form-control", placeholder = "Lastname" })
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            @Html.TextBoxFor(m => m.Fathername, new { @class = "form-control", placeholder = "Fathername" })
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            @Html.TextBoxFor(m => m.StudentCnic, new { @class = "form-control", placeholder = "StudentCnic" })
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            @Html.TextBoxFor(m => m.Address, new { @class = "form-control", placeholder = "Address" })
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                            <div class="input-group-append">
                                <div class="input-group-text">
                                  
                                     
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">

                            </div>
                            <!-- /.col -->

                            <div class="col-4">
                                @Html.HiddenFor(m => m.Sid)
                                <button type="submit" value="Save Changes" class="btn btn-success">Submit</button>


                            </div>
                            <!-- /.col -->
                        </div>
                        </form>
                    </div>
                </div>
        }
        </div>
        </body>
</html>