﻿@model StudentLibrary.Models.Class
@{
    ViewBag.Title = "Edit1";
}




@using (Html.BeginForm("Edit1", "Student"))
{
    <div class="col-md-2">

        @Html.TextBoxFor(m => m.ClassName, new { @class = "form-control", placeholder = "ClassName", required = true })
        <div class="input-group-append">

        </div>
    </div>
    <br />
    @Html.HiddenFor(m => m.ClassId)
    <button type="submit" value="Submit" class="btn btn-success">Submit</button>

}
