﻿@model  StudentLibrary.Models.StudentClass
@{
    ViewBag.Title = "Edit2";
}

<h2>Edit2</h2>


@using (Html.BeginForm("Edit2", "Student"))
{
    <input type="hidden" name="StudentId" value="@ViewBag.StudentID" />
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Class</label>
            @Html.DropDownListFor(Model => Model.ClassId, (IEnumerable<SelectListItem>)ViewBag.AllClasses, "Please Select Class", new { @class = "form-control" })
        </div>
        <br />
        @Html.HiddenFor(m => m.ClassId)
        <button type="submit" value="Submit" class="btn btn-success">Submit</button>
    </div>
}