﻿@model StudentLibrary.Models.StdRegistration
@{
    ViewBag.Title = "ProfileView";
}

<h2 align="center">ProfileView</h2>

<div class="row">
    <div class="col-md-3">

        <img src="~/Content/images/download.jpg" />
        <h5>Student name: @ViewBag.item.Firstname</h5>
        <h5>Last name: @ViewBag.item.Lastname</h5>
        <h5>Father name: @ViewBag.item.Fathername</h5>
        <h5>StudentCnic : @ViewBag.item.StudentCnic</h5>
        <h5>Address : @ViewBag.item.Address</h5>
        <h5>Email: @ViewBag.item.Email</h5>
    </div>
  
    <div class="col-md-9">
        <a href="/Student/StudentClass?StudentID=@ViewBag.StudentID" class="btn btn-primary"> Add </a>
        <br />
        <br />
        <table id="tablemodel" class="table table-bordered table-hover table-striped ">

            <thead>

                <tr>
                    <th>Student Class ID</th>
                    <th>Student Name</th>
                    <th>Class Name</th>
                    <th>Action</th>

                </tr>
            </thead>        
            <tbody>
                @foreach (var item in ViewBag.item1)
            {
                    <tr>
                        <td>@item.StudentClassId</td>
                        <td>@item.Firstname @item.Lastname</td>
                        <td>@item.ClassName</td>


                        <td>
                            <a href="@Url.Action("Delete2",new { id=item.StudentClassId })"><i class="btn btn-success"><b>Delete</b> </i></a>
                            <a href="@Url.Action("Edit2",new { id=item.StudentClassId , StudentId=item.StudentId })"><i class="btn btn-success">Edit</i></a>

                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>
<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />

@section scripts{
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script>
        $('#tablemodel').DataTable({



        });


    </script>

}
