﻿@model List<StudentLibrary.Models.StdRegistration>
@{
    ViewBag.Title = "StudentRecord";
}

<h2>StudentRecord</h2>
<button type="submit" value="submit" class="btn btn-success" onclick="location.href='@Url.Action("AddStudent","Student")'"><i class="plus-square"> Add  Student</i></button>
<br />
<br />
<table id="tablemodel" class="table table-bordered table-hover table-striped ">

    <thead>

        <tr>
            <th>Sid</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Fathername</th>
            <th>StudentCnic</th>
            <th>Address</th>
            <th>Email</th>
           
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.List)
        {
            <tr>
                <td>@item.Sid</td>
                <td>@item.Firstname</td>
                <td>@item.Lastname</td>
                <td>@item.Fathername</td>
                <td>@item.StudentCnic</td>
                <td>@item.Address</td>
                <td>@item.Email</td>
           
                <td>
                    <a href="@Url.Action("Delete",new { id=item.Sid })"><i class="btn btn-success"><b>Delete</b> </i></a>
                    <a href="@Url.Action("Edit",new { id=item.Sid})"><i class="btn btn-success">Edit</i></a>
                    <a href="@Url.Action("ProfileView",new { id=item.Sid})"><i class="btn btn-success user-alt">Profile</i></a>
                </td>
            </tr>
        }
    </tbody>

</table>

<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />

@section scripts{
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script>
        $('#tablemodel').DataTable({



        });


    </script>

}