﻿@model  StudentLibrary.Models.StudentClass
@{
    ViewBag.Title = "StudentClass";

}

<h4>Assign Class</h4>

@using (Html.BeginForm("StudentClass", "Student"))
{
    <input type="hidden" name="StudentId" value="@ViewBag.StudentID" />
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Class</label>
            @Html.DropDownListFor(Model => Model.ClassId, (IEnumerable<SelectListItem>)ViewBag.AllClasses, "Please Select Class", new { @class = "form-control" })
        </div>
        <br />
        <button type="submit" value="Submit" class="btn btn-success">Submit</button>
    </div>
}
