﻿
@model StudentLibrary.Models.StdRegistration

@{
    ViewBag.Title = "Login";
    Layout = null;
}

    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>AdminLTE 3 | Log in</title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="~/skin/plugins/fontawesome-free/css/all.min.css">
        <!-- Ionicons -->
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <!-- icheck bootstrap -->
        <link rel="stylesheet" href="~/skin/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
        <!-- Theme style -->
        <link rel="stylesheet" href="~/skin/dist/css/adminlte.min.css">
        <!-- Google Font: Source Sans Pro -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    
   
     </head>
    
      
    <body class="hold-transition login-page">
        
        <div class="login-box">
           
            <div class="login-logo">
                

                <a href="../../index2.html"><b>Student</b> LTE</a>
            </div>

@using (Html.BeginForm("Login", "Login"))

{



            <!-- /.login-logo -->
            <div class="card">

                <img src="~/Content/images/hotel.jpg "/>
                
               
                <div class="card-body login-card-body">
                    <p class="login-box-msg">Sign in to start your session</p>
                    <form action="../../index3.html" method="post">
                        <div class="input-group mb-3">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder="Email"})
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                            <div class="input-group-append">
                                <div class="input-group-text">
                                 
                                    <span class="fas fa-lock"></span>
                                </div>   
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                       
                            </div>
                            <!-- /.col -->   
                               
                            <div class="col-4">
                        
                                <button type="submit" class="btn btn-success">Submit</button>
                      
                            
                              </div>
                            <!-- /.col -->
                        </div>
                    </form>
                   
                
                    <p class="mb-0">
                        <a href="~/Login/Register" class="text-center">Register a new membership</a>
                    </p>
                </div>
                <!-- /.login-card-body -->
            </div>
}
        </div>
        <!-- /.login-box -->
        <!-- jQuery -->
        <script src="~/skin/plugins/jquery/jquery.min.js"></script>
        <!-- Bootstrap 4 -->
        <script src="~/skin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    </body>
</html>


