﻿
@model StudentLibrary.Models.StdRegistration




@*using (Html.BeginForm("Register", "Login"))
{
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                @Html.LabelFor(m => m.Firstname)
                @Html.TextBoxFor(m => m.Firstname, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Fathername)
                @Html.TextBoxFor(m => m.Fathername, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Address)
                @Html.TextAreaFor(m => m.Address, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                @Html.LabelFor(m => m.Lastname)
                @Html.TextBoxFor(m => m.Lastname, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.StudentCnic)
                @Html.TextBoxFor(m => m.StudentCnic, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>

            @Html.HiddenFor(m => m.Sid)

            <input type="submit" value="Save Data" class="btn btn-success" />
        </div>

    </div>


}*@




@*<--Add Css -->*@


@{
    ViewBag.Title = "Register";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/skin/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/skin/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/skin/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
   

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="../../index2.html"><b>Student</b>LTE</a>
        </div>

        @using (Html.BeginForm("Register", "Login",FormMethod.Post, new { id = "form" }))

        {


            <div class="card">
                <div class="card-body login-card-body">
                  
                        <div class="input-group mb-3" id="Firstname">
                            @Html.TextBoxFor(m => m.Firstname, new { @class = "form-control", placeholder = "Firstname" })
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                    <br />
                        <div class="input-group mb-3" id="Lastname">
                            @Html.TextBoxFor(m => m.Lastname, new { @class = "form-control", placeholder = "Lastname" })
                           

                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                    <br />
                        <div class="input-group mb-3" id="Fathername">
                            @Html.TextBoxFor(m => m.Fathername, new { @class = "form-control", placeholder = "Fathername"  })
                           
                             <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                    <br />
                        <div class="input-group mb-3" id="StudentCnic">
                            @Html.TextBoxFor(m => m.StudentCnic, new { @class = "form-control", placeholder = "StudentCnic"  })
                           
                             <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                    <br />
                        <div class="input-group mb-3" id="Address">
                            @Html.TextBoxFor(m => m.Address, new { @class = "form-control", placeholder = "Address" })
                            
                                <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                    <br />
                        <div class="input-group mb-3" id="Email">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email"  })
                            
                                      <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                    <br />
                        <div class="input-group mb-3" id="Password">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                           
                              <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                    <br />
                        <div class="row">
                            <div class="col-8">

                            </div>
                            <!-- /.col -->

                            <div class="col-4">
                             
                                <button type="submit" value="Submit" class="btn btn-success" >Submit</button>


                            </div>
                            <!-- /.col -->
                        </div>
                    
                </div>
            </div>
        }

    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    


    <script type="text/javascript" language="javascript">
        $(document).ready(function(){

        $("#form").validate({
            rules: {                      
                Firstname: {
                    required: true,
                },
                Lastname: {
                    required: true,
                },
                Fathername: {
                    required: true,
                },
                StudentCnic: {
                    required: true,
                },
                Address: {
                    required: true,
                },
                Email: {
                    required: true,
                },
                Password: {
                    required: true,
                },
            },
            messages: {
                Firstname:
                     {
                         required:"please enter your first name ",
                     },
                Lastname:
                    {
                    required: "please enter your last name",
                },
                Fathername: {
                    required: "please provide your Fathername",
                },
                StudentCnic: {
                    required: "please provide your StudentCnic",
                },
                Address: {
                    required: "please provide your Address",
                },
                Email: {
                    required: "please provide your Email",
                },
                Password: {
                    required: "enter your Password",
                },
            }    
        });
        });

    


    </script>

  
</body>
</html>