﻿@model  StudentLibrary.Models.TeacherAssign
@{
    ViewBag.Title = "EditTeacherClass";
}

@using (Html.BeginForm("EditTeacherClass", "Teacher"))
{
    <input type="hidden" name="Tid" value="@ViewBag.TeacherId" />
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Class</label>
            @Html.DropDownListFor(Model => Model.ClassId, (IEnumerable<SelectListItem>)ViewBag.AllClasses, "Please Select Class", new { @class = "form-control" })
        </div>
        <br />
        @Html.HiddenFor(m =>m.ClassId)
        <button type="submit" value="Submit" class="btn btn-success">Submit</button>
    </div>
}
