﻿@model StudentLibrary.Models.TeacherRegistration
@{
    ViewBag.Title = "ProfileViewTeacher";
}

<h2 align="center">Teacher Profile View</h2>

<div class="row">
    <div class="col-md-3">
        <img src="~/Content/images/download.jpg" />
        <h5>TeacherName: @ViewBag.item.TeacherName</h5>
        <h5>TeacherCnic: @ViewBag.item.TeacherCnic</h5>
        <h5>Address: @ViewBag.item.Address</h5>
        <h5>Email : @ViewBag.item.Email</h5>

    </div>


   <div class="col-md-9">
       <a href="/Teacher/TeacherClass?TeacherId=@ViewBag.TeacherId" class="btn btn-primary"> Add </a>
        <br />
        <br />
        <table id="tablemodel" class="table table-bordered table-hover table-striped ">

            <thead>

                <tr>
                    <th>TeacherClassId</th>
                    <th>Teacher Name</th>
                    <th>Class Name</th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.item1)
            {
                    <tr>
                        <td>@item.TeacherClassId</td>
                         <td>@item.TeacherName</td>
                        <td>@item.ClassName</td>


                        <td>
                            <a href="@Url.Action("DeleteTeacherClass",new { id=item.TeacherClassId })"><i class="btn btn-success"><b>Delete</b> </i></a>
                            <a href="@Url.Action("TeacherClass",new { TeacherClassId=item.TeacherClassId, TeacherId=@ViewBag.TeacherId})"><i class="btn btn-success">Edit</i></a>

                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>
<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />

@section scripts{
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script>
        $('#tablemodel').DataTable({



        });


    </script>

}
