﻿@model  StudentLibrary.Models.TeacherRegistration
@{
    ViewBag.Title = "Teachers";
}

<h2>TeacherRecord</h2>
<button type="submit" value="submit" class="btn btn-success" onclick="location.href='@Url.Action("AddTeacher","Teacher")'"><i class="plus-square"> Add  Teacher</i></button>
<br />
<br />
<table id="tablemodel" class="table table-bordered table-hover table-striped ">

    <thead>

        <tr>
         
            <th>TeacherName</th>
            <th>TeacherCnic</th>
            <th>address</th>
            <th>Email</th>
           

            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.List)
        {
            <tr>
                
                <td>@item.TeacherName</td>
                <td>@item.TeacherCnic</td>
                <td>@item.Address</td>
                <td>@item.Email</td>    

                <td>
                    <a href="@Url.Action("Delete",new { id=item.Tid })"><i class="btn btn-success"><b>Delete</b> </i></a>
                    <a href="@Url.Action("AddTeacher",new { id=item.Tid})"><i class="btn btn-success">Edit</i></a>
                    <a href="@Url.Action("ProfileViewTeacher",new { id=item.Tid})"><i class="btn btn-success user-alt">Profile</i></a>
                </td>
            </tr>
        }
    </tbody>

</table>

<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />

@section scripts{
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script>
        $('#tablemodel').DataTable({



        });


    </script>

}

