﻿@model StudentLibrary.Models.TeacherAssign

@{
    ViewBag.Title = "TeacherClass";
}

<h2>TeacherClass</h2>

@using (Html.BeginForm("TeacherClass", "Teacher"))
{
    <input type="hidden" name="Tid" value="@ViewBag.TeacherId " />
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Class</label>
            @Html.DropDownListFor(Model => Model.ClassId, (IEnumerable<SelectListItem>)ViewBag.AllClasses, "Please Select Class", new { @class = "form-control" })
        </div>
        <br />
        @Html.HiddenFor(m => m.TeacherClassId)
        <button type="submit" value="Submit" class="btn btn-success">Submit</button>
    </div>
}